# This is a basic workflow to help you get started with Actions

name: build_helm_runner

# Controls when the workflow will run
on:
    push:
      branches:
        - '**'
      paths:
        - 'Helm/*'
        - '.github/*/update_or_install_helm.yaml'
    workflow_dispatch:

    workflow_run:
      workflows: [build_push_img_runner]
      types:
        - completed

jobs:
  deploymenAgentHelm:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v3
      
      - name: 'Login via Azure CLI'
        uses:  azure/login@v1
        with:
          creds: '{"clientId":"${{secrets.CLIENT_ID}}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'

      - name: Create Helm chart
        run: |
          cd ./Helm
          helm package .
          
      - name: AKS set context
        uses: azure/aks-set-context@v1
        with:
          creds: '{"clientId":"${{secrets.CLIENT_ID}}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'
          resource-group: troyrgwest001
          cluster-name: troy-aks-west-1
          
      - name: Deploy via Helm
        run: |
          cd ./Helm
          if helm status agentrunner -n agentrunnerpool; then
            helm upgrade agentrunner  -n agentrunnerpool ghr-0.0.1.tgz --set image.repository=troyrsaweu001.azurecr.io/agentrunner --set image.tag=main --set ghr.TOKEN=${{ secrets.TOKENGIT }} --set ghr.ORG=ZundereneWork  --set ghr.NAME=runner-autohoster-001
          else 
            helm install agentrunner -n agentrunnerpool  ghr-0.0.1.tgz  --set image.repository=troyrsaweu001.azurecr.io/agentrunner --set image.tag=main --set ghr.TOKEN=${{ secrets.TOKENGIT }} --set ghr.ORG=ZundereneWork --set ghr.NAME=runner-autohoster-001
          fi


       
